<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - PureProduct</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2a96fb">
    <meta name="msapplication-TileColor" content="#d6eaf8">
    <meta name="theme-color" content="#d6eaf8">

    <meta name="description" content="Pure Product is an authorised distributer for Carico and Aqua Viva products, providing a range of products to help you live a longer and healthier life by improving the quality of the water you drink, the air you breathe, your sleep, the food you eat, the cleanliness and sanitisation of your home and helping you prepare healthy juices and smoothies." />
    <meta name="keywords" content="Carico, Aqua Viva, water filters, sanitising, sanitizing, air purifiers, vacuums, floor washing, mattresses, beds, cookware, juicers, juice extractors, pans, blenders, humidifiers, aromatherapy, inhalations, healthy living" />

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" asp-append-version="true">

    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light sticky-top shadow">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="/images/PureProductLogoNavbar.gif" alt="Pure Product Logo" class="NavbarLogo" /> Pure Product</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#PageNavigationMenu" aria-controls="PageNavigationMenu"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse flex-grow-1 text-center text-lg-right" id="PageNavigationMenu">
                @*<partial name="_LoginPartial" />*@
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Our Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-page="/Water"><i class="fas fa-water"></i> Clean Water - Water Filtration</a>
                            <a class="dropdown-item" asp-area="" asp-page="/Air"><i class="fas fa-wind"></i> Clean Air - Air Purifier</a>
                            <a class="dropdown-item" asp-area="" asp-page="/AquaViva"><i class="fas fa-wind"></i> Clean House - Vacuuming/Cleaning and Sanitizing</a>
                            <a class="dropdown-item" asp-area="" asp-page="/Sleep"><i class="fas fa-bed"></i> Relaxing Sleep - Bed</a>
                            <a class="dropdown-item" asp-area="" asp-page="/Cooking"><i class="fas fa-heart"></i> Healthy Cooking - Pans</a>
                            <a class="dropdown-item" asp-area="" asp-page="/Juicer"><i class="fas fa-blender"></i> Smoothies &amp; Juices - Juice Extractor</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/About"><i class="fas fa-question-circle"></i> About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Contact"><i class="fas fa-envelope-open-text"></i> Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @*<div class="container-fluid bg-white">
            <div class="TopLogo d-flex justify-content-center">
                <img src="~/images/PureProduct.png" alt="Pure Product Logo" class="my-auto" />
            </div>
        </div>*@
    <div class="container-fluid TopBackground">
        <div class="TopLogo d-flex justify-content-center">
            <img src="~/images/PureProduct.png" alt="Pure Product Logo" class="my-auto" />
        </div>
        <div class="BackgroundImg">
            <img src="/images/FamilyOnPierFull.jpg" alt="Image of a family standing on a pier looking over at the sunset" class="img-fluid" />
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container text-center">
            &copy; 2020-2021 - Pure Product
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/momentjs/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/lib/marked/marked.min.js" asp-append-version="true"></script>
    <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js" asp-append-version="true"></script>
    <script src="~/lib/ScrollMagic/ScrollMagic.min.js" asp-append-version="true"></script>

    <environment include="Development">
        <script src="~/lib/ScrollMagic/plugins/debug.addIndicators.js" asp-append-version="true"></script>
    </environment>

    <script src="~/js/modals.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
