@page
@model PureProduct.Pages.AboutModel
@{
    ViewData["Title"] = "Aqua Viva System";
}

<div class="container bg-white Spacer SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                We are the authorosed distributor for Carico and Aqua Viva products
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-center">
            <img src="/images/About/Carico.png" alt="Carico" class="img-fluid" />
        </div>
        <div class="col-md-8 d-flex flex-wrap align-items-center justify-content-center">
            <img src="/images/About/AquaViva.png" alt="Aqua Viva" class="img-fluid" />
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h4>
                We provide a range of products to help you live a longer and healthier life by:
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Improving the quality of the water you drink</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Improving the quality of your sleep</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Improving the quality of cleaning and sanitising your home</li>
            </ul>
        </div>
        <div class="col-md">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Improving the quality of the air you breathe</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Improving the quality of the food you eat</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Helping you prepare healthy juices and smoothies</li>
            </ul>
        </div>
    </div>
</div>