@page
@model PureProduct.Pages.AirModel
@{
    ViewData["Title"] = "Clean Air";
}

<div class="container bg-white Spacer">
    <div class="row">
        <div class="col-md">
            <h3>Breathe Crisp Clean Indoor Air With Carico</h3>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <img src="/images/AirConditioner.png" alt="Air Conditioning Unit" class="img-fluid" />
        </div>
        <div class="col-md">
            <h4>
                Carico’s Nutri-Tech Deluxe Air Purification
            </h4>
            <p>
                According to the U.S. EPA, indoor air quality is the greatest threat to public health! It recommends you have an air purification system for your home.
            </p>
            <p>
                Carico’s Nutri-Tech Deluxe Air Purification System is the only system that offers 10 stages that utilize 5 advanced technologies to address the 3 major contaminant groups affecting indoor air quality.
            </p>
            <p>
                Carico’s air purification systems removes odors, mold and particles up to 5x smaller than the thickness of a human hair.
            </p>
            <p>
                Carico offers the best warranty in the industry, including our Lifetime Hazard Warranty.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Learn How Carico Purifies Your Air for a Healthier Life
            </h3>

            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/259357486?color=2a96fb" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md-3">
            <h4>
                Stage 1
            </h4>

            <div class="AirFilter"><img src="/images/Air/Air01.png" alt="Air Filter - Stage 1" class="img-fluid" /></div>

            <p>
                <strong>The Polyweb<sup>TM</sup> Electrostatic Pre-filter</strong><br />
                A static electrical charge captures: biggger particles, dust and lint
            </p>
        </div>

        <div class="col-md-3">
            <h4>
                Stage 2
            </h4>

            <div class="AirFilter"><img src="/images/Air/Air02.png" alt="Air Filter - Stage 2" class="img-fluid" /></div>

            <p>
                <strong>Woven Polyester</strong><br />
                Stops particles: 15 microns
            </p>
        </div>

        <div class="col-md-3">
            <h4>
                Stage 3
            </h4>

            <div class="AirFilter"><img src="/images/Air/Air03.png" alt="Air Filter - Stage 3" class="img-fluid" /></div>

            <p>
                <strong>The Puratech<sup>TM</sup> Pre-filter</strong><br />
                Stops particles: 10 microns
            </p>
        </div>

        <div class="col-md-3">
            <h4>
                Stage 4
            </h4>

            <div class="AirFilter"><img src="/images/Air/Air04.png" alt="Air Filter - Stage 4" class="img-fluid" /></div>

            <p>
                <strong>The Micro-Grip<sup>TM</sup> Tackified Filter</strong><br />
                Bonds and grips, 5 micron size particles, such as animal dander, bacteria and dust particles
            </p>
        </div>

        <div class="col-md-3">
            <h4>
                Stage 5
            </h4>

            <div class="AirFilter"><img src="/images/Air/Air05.png" alt="Air Filter - Stage 5" class="img-fluid" /></div>

            <p>
                <strong>The H.E.P.A. Type Filter</strong><br />
                Removes 99% of particles 0.3 microns, such as: Bacteria, Viruses, Mold spores, Used by hospitals
            </p>
        </div>

        <div class="col-md-3">
            <h4>
                Stage 6
            </h4>

            <div class="AirFilter"><img src="/images/Air/Air06.png" alt="Air Filter - Stage 6" class="img-fluid" /></div>

            <p>
                <strong>The Antimicrobial Filter</strong><br />
                Now any possible surviving microorganisms are: Captured, Destroyed
            </p>
        </div>

        <div class="col-md-3">
            <h4>
                Stage 7
            </h4>

            <div class="AirFilter"><img src="/images/Air/Air07.png" alt="Air Filter - Stage 7" class="img-fluid" /></div>

            <p>
                <strong>The Ultra-Purification GWM*-X<sup>TM</sup> Filter</strong><br />
                An expensive scientifically designed fabric woven from carbon. It is a defense against: Toxic gases, Off gassing, Chemicals, Used as a defense against germ warfare. *Germ Warfare Material.
            </p>
        </div>

        <div class="col-md-3">
            <h4>
                Stage 8
            </h4>

            <div class="AirFilter"><img src="/images/Air/Air08.png" alt="Air Filter - Stage 8" class="img-fluid" /></div>

            <p>
                <strong>High Capacity Activated Carbon Filter</strong><br />
                Absorbs: Chemicals, Tobacco smoke, Cooking odors, Used as a defense against germ warfare. *Germ Warfare Material
            </p>
        </div>

        <div class="col-md-3">
            <h4>
                Stage 9
            </h4>

            <div class="AirFilter"><img src="/images/Air/Air09.png" alt="Air Filter - Stage 9" class="img-fluid" /></div>

            <p>
                <strong>Air Freshening Ionization Stage</strong><br />
                Emits a mild electro-static charge. It gives you the same energy you feel following a thunder storm. Fresh, Invigorating, Clean, Gives a sense of happiness and improves attitude.
            </p>
        </div>

        <div class="col-md-3">
            <h4>
                Stage 10
            </h4>

            <div class="AirFilter"><img src="/images/Air/Air10.png" alt="Air Filter - Stage 10" class="img-fluid" /></div>

            <p>
                <strong>Deodorizing, Germ Eliminating Activated Oxygen</strong><br />
                Creates activated oxygen penetrating the air attacking gases and odors and eliminating: Bacteria, Viruses, Mold, Mildew, Spores, Tobacco odors, Cysts, Yeast, Fungus, Odors caused by smoke and fire damage. Activated oxygen destroys pollutants by oxidation and within 15 minutes dissipates, leaving only oxygen
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Everyday we breath 17 000 times, numerous studies show that purified air:
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Improves brain function</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Improves concentration</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Boosts learning abilities</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Promotes better sleep</li>
            </ul>
        </div>
        <div class="col-md">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Gives a sense of happiness and improves attitude</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Reduces allergy flare-ups and better respiratory health</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Helps your immune system</li>
            </ul>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Carico’s Compact Air Purifier
            </h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Purifies 375 sq. ft. two times per hour</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Safety designed; turns off when cover removed</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Costs only pennies a day to operate</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Energy efficient 3-speed controls with 15 min. on/off</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> 2, 4 and 24-hour deodorizer settings</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Light weight and portable</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> High/Low ozone output switch</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Use as necessary for strong odors</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Ozone stage suggested for unoccupied areas</li>
            </ul>
        </div>

        <div class="col-md">
            <img src="/images/Air/Air11.jpg" alt="Carico’s Compact Air Purifier" class="img-fluid" />
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div class="alert alert-warning" role="alert">
                <blockquote class="blockquote d-flex align-items-center">
                    <div class="container">
                        <p class="mb-0 text-center">
                            <i class="fas fa-quote-left"></i> Indoor air pollution is one of the greatest threats to public health of any and all environmental problems. <i class="fas fa-quote-right"></i>
                        </p>
                        <footer class="blockquote-footer text-center">EPA<cite title="Source Title"></cite></footer>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Carico’s Ultra Air Deodorizer
            </h3>
            <p>
                Get rid of tough cooking odors or smoke smell with Carico’s 3-in-1 deodorizer! This portable deodorizer is fantastic for your car! Neutralizes bacteria, viruses, mold, mildew spores, cysts, yeasts & fungus. Leaves air fresh & invigorating air.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Runs for 15 minutes, then shuts off</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> 2, 4 and 8-hour settings</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Replaceable pre-filter</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> 700 to 1000 sq. feet</li>
            </ul>
        </div>

        <div class="col-md">
            <img src="/images/Air/Air12.jpg" alt="Carico’s Ultra Air Deodorizer" class="img-fluid" />
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Professional Athlete Ryan Hunter-Reay has Carico Air Purifiers in his Home
            </h3>

            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/268675111?color=2a96fb" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
</div>