@page
@model PureProduct.Pages.AquaVivaModel
@{
    ViewData["Title"] = "Aqua Viva System";
}

<div class="container bg-white Spacer SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Aqua Viva Multi-functional Cleaning System for Every Home.
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <p>
                Aqua Viva is a multi-functional cleaning system of a new generation, ready to clean your rooms and air.
            </p>
            <p>
                <span class="Highlight">Aqua Viva high power vacuum cleaner with a water filter</span> uses the power of water to thoroughly clean the living space and wash the air – the same as it is done by nature. Dust, allergens and other dirt get trapped in water, so the air becomes fresh again in order for you to enjoy a clean environment.
            </p>
            <p>
                Aqua Viva is a perfect choice for people suffering from lung diseases (asthma, bronchitis, frequent colds,...), cardiovascular diseases, for older population and the ones suffering from various allergies; it is a preferred choice of pet owners as well.
            </p>
            <p>
                It is highly valued for its versatile usefulness as it offers not only <span class="Highlight">dry and wet vacuum cleaning</span> but also <span class="Highlight">cleaning and filtering of the air, aromatherapy, inhalation, air humidifying and high power cleaning</span> of all sorts of textile surfaces and padded furniture.
            </p>
        </div>
        <div class="col-md">
            <img src="~/images/AquaViva/AquaViva01.jpg" class="img-fluid" alt="Aqua Viva Clean Machine" />
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div class="alert alert-warning" role="alert">
                <div class="row">
                    <div class="col-md text-center">
                        <h5>
                            <i class="fas fa-award"></i> Winner of the Plus X Award
                        </h5>
                    </div>
                    <div class="col-md text-center">
                        <a href="/files/PlusXAwardCertificate.pdf" target="_blank" class="btn btn-warning"><i class="fas fa-external-link-alt"></i> View Certificate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <img src="~/images/AquaViva/AquaViva02.jpg" class="img-fluid" alt="Carpet Stain Removal" />
        </div>
        <div class="col-md">
            <img src="~/images/AquaViva/AquaViva03.jpg" class="img-fluid" alt="Padded Furniture Cleaning" />
        </div>
        <div class="col-md">
            <img src="~/images/AquaViva/AquaViva04.jpg" class="img-fluid" alt="Floor Cleaning" />
        </div>
    </div>
</div>

<div class="container bg-white Spacer SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h4>
                With your decision to buy the Aqua Viva cleaning system you have become a part of our family in which we value healthy living environment, efficiency and quality.
            </h4>
            <p>
                We are proud of a decade of our work and of the fact that the Aqua Viva high power vacuum cleaner was developed and produced in Slovenia. The Aqua Viva high power vacuum cleaner received a reward for best innovation, technology and design in 2014.
            </p>
        </div>
        <div class="col-md">
            <img src="~/images/AquaViva/AquaViva05.jpg" class="img-fluid" alt="Aqua Viva Clean Machine" />
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Practically 100 % Clean
            </h3>
            <p>
                Aqua Viva high power vacuum cleaner with a water filter catches typical household dirt while other microscopically small particles stay trapped in the HEPA neutralisation filter system. Hepa filter holds dust particles up to the size of 0,3 micron and can be effective in 99,98 % of cases. If we put it mathematically one micron equals one millionth of a metre, therefore 0,3 of a micron puts hepa filter into highest class of efficiency. This two-levelled filtration eliminates almost 100 % of dirt and pollution from your home.
            </p>
            <p>
                Aqua Viva high power vacuum cleaner with a water filter slides smoothly on the floor, different attachments and brushes enable cleaning from every corner and remove all hair left behind by your pets, so you can enjoy a spotlessly clean home. Attachments and brushes for different types of cleaning can be changed effortlessly in a blink of an eye.
            </p>
            <p>
                Engine power can be regulated up or down by pushing the switch. The unit is managed by electronic touch screen control buttons.
            </p>
        </div>

    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://www.youtube.com/embed/cchhre009tY" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md">
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://www.youtube.com/embed/Z9DQQSu2_IM" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Air Cleaning and Humidifying, Aromatherapy, Inhalations
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <p>
                Aqua Viva high power vacuum cleaner with a water filter cleans the air in the room to almost 100 %, humidifies it in the same time and thus has an impact on healthy environment.
            </p>
            <p>
                By adding chosen etheric oils to water we achieve aroma therapeutic activity, which enhances our general well-being and stimulates physical and spiritual vitality.
            </p>
            <p>
                Aromatherapy also neutralises most stubborn odours, such as: tobacco smoke, animal odour, smell from the kitchen, etc. Separator in the system which rotates at 23 – 30.000 rotations per minute separates dirt and dust particles from the air, air from water and water from motor.
            </p>
        </div>
        <div class="col-md">
            <img src="~/images/AquaViva/AquaViva06.jpg" class="img-fluid" alt="Aromatherapy with Aqua Viva" />
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Attachments
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/AquaViva/Attachment01.jpg" class="img-fluid" alt="Multi-Functional Brush" />
            <h4>
                Multi-Functional Brush
            </h4>
            <p>
                Designed for general cleaning and vacuuming of all floor surfaces and padded furniture.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/images/AquaViva/Attachment02.jpg" class="img-fluid" alt="Big Brush with Natural Bristles" />
            <h4>
                Big Brush with Natural Bristles
            </h4>
            <p>
                Effectively cleans smooth floor surfaces (ceramics, linoleum, parquet) and walls.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/images/AquaViva/Attachment03.jpg" class="img-fluid" alt="Rectangular Attachment with Natural Bristles" />
            <h4>
                Rectangular Attachment with Natural Bristles
            </h4>
            <p>
                For hard to reach parts of the apartment and for sensitive surfaces which must not be scratched.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/images/AquaViva/Attachment04.jpg" class="img-fluid" alt="Round Attachment with Natural Bristles for Vacuuming Dust" />
            <h4>
                Round Attachment with Natural Bristles for Vacuuming Dust
            </h4>
            <p>
                For soft vacuuming of sensitive objects; irreplaceable for cleaning venetian blinds, sunshades, chandeliers, curtains, houseplants, etc.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/images/AquaViva/Attachment05.jpg" class="img-fluid" alt="Narrow Hose" />
            <h4>
                Narrow Hose
            </h4>
            <p>
                Narrowed hose for slots, edges and angles on hard surfaces and padded furniture at home or in a car.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/images/AquaViva/Attachment06.jpg" class="img-fluid" alt="Attachments Holder" />
            <h4>
                Attachments Holder
            </h4>
            <p>
                Simple yet efective way to store all Aqua VIva vacuuming attachements.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Deep Cleaning Brush Type 1200
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <p>
                Big electric high power brush Type 1200 is used for dry vacuum cleaning and high power vacuum cleaning of padded furniture, mattresses, rugs and floorings with high walking frequency.
            </p>
            <p>
                Textiles and floorings show signs of wear especially because of micro damage of textile fibres, which get rubbed and scratched by dust particles. The duration of such materials can be significantly prolonged with thorough high power cleaning.
            </p>
        </div>
        <div class="col-md">
            <img src="~/images/AquaViva/Brush01.jpg" class="img-fluid" alt="Deep Cleaning Brush Type 1200" />
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <p>
                Mattresses are often the home of mites, which can be successfully removed and neutralised with deep cleaning brushes. Mites’ secretions and faeces cause discomfort to healthy people with possible eruption of skin rashes, but they are especially dangerous for allergic persons and persons suffering from asthma. Last researches have shown that one out of five children is suffering from asthma and that every third person faces allergy-related problems (allergies caused by house dust, pollen, mites, animal fur, feathers, mould, food, etc.).
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://www.youtube.com/embed/iAcOZefuWJY" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md">
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://www.youtube.com/embed/27bXPiThtRc" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <img src="~/images/AquaViva/Brush02.jpg" class="img-fluid" alt="Deep Cleaning Brush Type 1605" />
        </div>
        <div class="col-md">
            <h3>
                Deep Cleaning Brush Type 1605
            </h3>
            <p>
                Small electric high power brush Type 1605 is used for dry vacuum cleaning and high power cleaning in places that cannot be reached by big high power brush, such as smaller surfaces of padded furniture: car seats, pillows, edges of mattresses, armchairs, especially edges, corners, textile seams, etc.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Use the Natural Cleaning Power of Water
            </h3>
            <p>
                Furniture textiles, textile flooring, padded chairs, car seats, etc. need to be washed in the same way as personal clothes if we want to remove all impurities and prevent releasing them in the air every time we sit down in the armchair. Wet cleaning creates a healthier environment.
            </p>
        </div>
        <div class="col-md">
            <img src="~/images/AquaViva/WashingSet01.jpg" class="img-fluid" alt="Aqua Viva Washing Set" />
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <p>
                Impurities cause micro damage in textile fibres, which is visible in thinning of thickness and density of the material, its deformation and lack of colour and shine. The duration of textiles can be significantly prolonged with appropriate maintenance, that being wet cleaning, which achieves a higher air permeability, less rigidity among fibres, expected durability of use and a nicer look.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <img src="~/images/AquaViva/WashingSet02.jpg" class="img-fluid" alt="Aqua Viva Washing Set" />
        </div>
        <div class="col-md">
            <h3>
                How Does the Aqua Viva Washing Set Work?
            </h3>
            <p>
                It pumps the water with cleaning fluid out of the container and sprays it onto working surface through the washing hose. Simultaneously, it sucks the dirty water from washed surface and disposes it into see-through collection container.
            </p>
            <p>
                The Aqua Viva cleaning fluid which is used together with Aqua Viva set for wet cleaning works fast to remove surface dirt from textile surfaces, minimizes the odour and in the same time regenerates and protects rugs.
            </p>
        </div>
    </div>
</div>