@page
@model PureProduct.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md Spacer">
            <h3>
                Contact Form and Map
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="container">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-xl">
                        <h4><i class="far fa-id-card"></i> Personal Details</h4>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Name</label>
                            <div class="col-md-8">
                                <input class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Email</label>
                            <div class="col-md-8">
                                <input class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Telephone</label>
                            <div class="col-md-8">
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl">
                        <h4><i class="fas fa-envelope-open-text"></i> Enquiry</h4>

                        <div class="form-group row">
                            <div class="col-md">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md d-md-block d-sm-none">

                    </div>
                    <div class="col-xl-4 col-lg-8">
                        <button type="submit" class="btn btn-primary btn-block SendEnquiry"><i class="fas fa-paper-plane"></i> Send Enquiry</button>
                    </div>
                    <div class="col-md d-md-block d-sm-none">
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2288.0689408543735!2d-1.6065297840463069!3d55.00695655673276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487e713b3d374183%3A0xa1a57b6705a90217!2sPure%20Product!5e0!3m2!1sen!2suk!4v1602722136782!5m2!1sen!2suk" class="Map" allowfullscreen></iframe>
        </div>
    </div>
</div>