@page
@model PureProduct.Pages.CookingModel
@{
    ViewData["Title"] = "Healthy Cooking";
}

<div class="container bg-white Spacer">
    <div class="row">
        <div class="col-md">
            <h3>Designed to Retain Nutrients by Cooking without Water or Grease</h3>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/259354176?color=2a96fb" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="col-md">
            <h4>
                Nature Provides All The Nutrients We Need For Good Health
            </h4>
            <p>
                However, Improper preparation methods such as:
            </p>
            <ul>
                <li>Boiling</li>
                <li>Frying</li>
                <li>Microwaving</li>
                <li>Steaming</li>
                <li>And cooking at high temperatures</li>
            </ul>
            <p>
                Will destroy the nutrition of even the healthiest foods.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/Cooking/Cooking01.png" class="img-fluid" alt="Special Double Ultra Core &quot;Plus&quot;" />
        </div>
        <div class="col-md-9">
            <h4>
                Special Double Ultra Core "Plus"
            </h4>
            <p>
                Construction with unsurpassed ability to heat quickly and spread heat evenly throughout the pan.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/Cooking/Cooking02.jpg" class="img-fluid" alt="Ultra Seal Scientifically Engineered Water Well" />
        </div>
        <div class="col-md-9">
            <h4>
                Ultra Seal Scientifically Engineered Water Well
            </h4>
            <p>
                <ul>
                    <li>Vapors condense on the cover</li>
                    <li>Water collects in the "water well" and forms a seal</li>
                    <li>A vacuum is created</li>
                    <li>Now you can cook without boiling or streaming</li>
                    <li>Prevents foods from becoming dry and tasteless</li>
                    <li>Improves the nutritional value of your meals</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/Cooking/Cooking03.jpg" class="img-fluid" alt="Ultra Seal Control &amp; Whistle Valve" />
        </div>
        <div class="col-md-9">
            <h4>
                Ultra Seal Control &amp; Whistle Valve
            </h4>
            <p>
                The only patented temperature gauge It whistles when it needs you...and tells you what to do!
                <ul>
                    <li>Now you will know the actual cooking temperature inside the pan just like your oven</li>
                    <li>Assures you will never burn a meal again</li>
                    <li>Takes the guesswork out of cooking</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div class="alert alert-warning" role="alert">
                <blockquote class="blockquote d-flex align-items-center">
                    <div class="container">
                        <p class="mb-0 text-center">
                            <i class="fas fa-quote-left"></i> 26 years ago my wife and I purchased our Carico cookware. All of it is in great shape and has served us well for all these years. Carico endures. At the time we purchased it we were a young family and wondered if we could afford it. Today, of course, the decision was obvious.Buy the good stuff and it will last. Thanks for making Carico products of such high quality. <i class="fas fa-quote-right"></i>
                        </p>
                        <footer class="blockquote-footer text-center">Count D<cite title="Source Title"></cite></footer>
                    </div>
                </blockquote> 
            </div>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>Ultra-Tech 2 Cookware Sets</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/Cooking/Set01.jpg" class="img-fluid" alt="6 Piece Basic Set" />
        </div>
        <div class="col-md-8">
            <h4>
                6 Piece Basic Set
            </h4>
            <p>
                Set includes: 11" gourmet skillet with glass lid, 1 qt. saucepan with cover, 5qt. roaster/saucepan with cover, Ultra Temp gauge storage box, care and use guide and stainless steel cleaner.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/Cooking/Set02.jpg" class="img-fluid" alt="9 Piece Classic Set" />
        </div>
        <div class="col-md-8">
            <h4>
                9 Piece Classic Set
            </h4>
            <p>
                Set includes: 9" gourmet skillet with glass lid, 1.7 qt. saucepan with cover, 3 qt. saucepan with cover, 11" fry/sauté pan with cover, Ultra Temp gauge storage box, care and use guide and stainless steel cleaner.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/Cooking/Set03.jpg" class="img-fluid" alt="10 Piece Gourmet Set" />
        </div>
        <div class="col-md-8">
            <h4>
                10 Piece Gourmet Set
            </h4>
            <p>
                Set includes: 9″ gourmet skillet with glass lid, 1 qt. saucepan with cover, 2 qt. saucepan with junior dome cover, 6 qt. roaster/saucepan with large dome cover, 11" fry/sauce pan with cover, Ultra Temp gauge storage box, care and use guide and stainless steel cleaner.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/Cooking/Set04.jpg" class="img-fluid" alt="23 Piece Homemaker Set" />
        </div>
        <div class="col-md-8">
            <h4>
                23 Piece Homemaker Set
            </h4>
            <p>
                Set includes: 9" gourmet skillet with glass lid, 1qt. saucepan with cover, 1.7 qt. saucepan with cover, 2qt. saucepan with junior dome cover, 3 qt.saucepan with cover, 6t.roaster/saucepan with large dome cover, 11" fry/sauté pan with cover, steamer, masher, utility rack with 6 egg cups, Ultra Temp gauge storage box, care and use guide and stainless steel cleaner.
            </p>
        </div>
    </div>
</div>