@page
@model PureProduct.Pages.JuicerModel
@{
    ViewData["Title"] = "Smoothies & Juices";
}

<div class="container bg-white Spacer">
    <div class="row">
        <div class="col-md">
            <h3>Carico Juice Extractors</h3>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <img src="~/images/Juicer/Juicer01.jpg" class="img-fluid" alt="Carico Juice Extractor" />
        </div>
        <div class="col-md">
            <p>
                Juice Extractors strengthen your immune system and improve how you look and feel…even how long you live!
                Experts love Nutri-Tech and agree that many health problems are related to dietary deficiencies.
            </p>
            <p>
                <span class="Highlight">Simple To Use – Easy To Clean</span> in just a few minutes, give your family healthy delicious juice.
            </p>
            <p>
                <span class="Highlight">Powerful 6000 Rpm Motor With Patented Speed Control</span> extracts the maximum amount of purest, pulp-free juice possible.
            </p>
            <p>
                Automatic Pulp Ejection separates the healthful juice from the pulp and automatically ejects pulp into a separate container.
            </p>
            <p>
                Turbo Boost Switch the turbo boost ejects any excess pulp built up during juicing.
            </p>
            <p>
                Stainless steel basket and cutting blades.
            </p>
            <p>
                <span class="Highlight">Advanced Design & Superior Quality</span> is precision built using European technology for a lifetime of dependable service.
                UL approved and CSA certified.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>The Carico Juice Master Professional</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/392510548?color=2a96fb" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Juicer Warranty</h4>
                <p>
                    In the unlikely event that anything malfunctions with your Nutri-Tech® Juicer, Carico International, Inc. agrees to replace it for a lifetime at one-half of the retail price at the time of replacement.
                </p>
                <h4 class="alert-heading">10 Year Warranty</h4>
                <p>
                    If within 10 years from the date of purchase, this Nutri-Tech® Juicer fails due to a defect in material or workmanship, Carico International, Inc. will repair or replace it. Simply ship back prepaid with $18.00 for processing, shipping, and handling. (One year when used commercially), plus proof of purchase.
                </p>
                <p>
                    Warranty repair service is available by simply returning the Nutri-Tech® Juicer to the address listed on the back of this brochure. The stainless steel blade/basket has a full one year warranty, however it will eventually need replacement depending on usage. Simply call Carico International, Inc. for replacement costs.
                </p>
                <p>
                    This limited warranty does not apply to any part or component that has been subject to misuse, neglect or accident, or altered in any such way that it’s performance is affected. This warranty gives you specific legal rights which vary from state to state. Products returned to Carico under this warranty must be sent via prepaid freight to Carico International.
                </p>
            </div>
        </div>
    </div>
</div>