@page
@model PureProduct.Pages.SleepModel
@{
    ViewData["Title"] = "Restful Sleep";
}

<div class="container bg-white Spacer">
    <div class="row">
        <div class="col-md">
            <h3>The Only Grounding Mattress With Silver Ions, Breathable Foam & Non-Toxic Flame Retardant for Deep Restful Sleep</h3>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <p>
                Carico’s luxurious Ultra Tech Silver Collection Sleep System is the result of years of research and testing.
                It’s the only orthopedic, hypo-allergenic sleep system that you can adjust to four different comfort settings.
            </p>
            <p>
                This innovative mattress is made from the finest materials and adapts to the shape of your body in every position, keeping your spinal column in perfect alignment.
            </p>
            <p>
                Perfect for the back, side and stomach sleeper.
                The unique design promotes ventilation, keeping you cool in the summer and warm in the winter.
            </p>
        </div>
        <div class="col-md">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/259373825?color=2a96fb" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <iframe src="https://www.youtube.com/embed/4lwOKrWK1vY" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md">
            <h4>
                World renowned expert on grounding, Dr. Laura Koniver, MD. talks about the many healing aspects of grounding your body.
            </h4>
            <p>
                <strong>Why Does This Work?</strong><br />
                Every single organ system, every single cell in your body is conductive.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Cytoskeleton</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Cytoplasm</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Cell Membrane</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Intracellular Fluid</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Skeleton</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Muscles</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Heart</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Digestive Organs</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Brain</li>
            </ul>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Carico Sleep System, Like Sleeping on the Beach
            </h3>
            <img src="~/images/Sleep/Sleep01.jpg" class="img-fluid" alt="Carico Sleep System, Like Sleeping on the Beach" />
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Carico Ultra Tech<sup>TM</sup>
            </h3>
            <h4>
                Silver Collection &quot;Plus&quot; Layers
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="~/images/Sleep/Sleep02.png" class="img-fluid" alt="Carico Ultra Tech: Silver Collection &quot;Plus&quot; Layers" />
        </div>
        <div class="col-md">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/Sleep/SleepIcon01.png" class="img-fluid" alt="Icon" />
                </div>
                <div class="col-md-9">
                    <p>
                        Luxurious, Exclusive Hypoallergenic Silver Fabric woven with Silver Threads creates a bacteria free environment and supports air flow and temperature release.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/Sleep/SleepIcon02.png" class="img-fluid" alt="Icon" />
                </div>
                <div class="col-md-9">
                    <p>
                        Electromagnetic silver shield & carbon fabric both protect against electromagnetic fields, or EMF.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/Sleep/SleepIcon03.png" class="img-fluid" alt="Icon" />
                </div>
                <div class="col-md-9">
                    <p>
                        The Clima 3D AirChamber<sup>TM</sup> regulates your body temperature making your mattress warmer in the winter and cooler in the summer!
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/Sleep/SleepIcon04.png" class="img-fluid" alt="Icon" />
                </div>
                <div class="col-md-9">
                    <p>
                        The fire retardant layer is a revolutionary, Swiss made, nontoxic, laboratory tested protection from off-gassing and toxic chemicals.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/Sleep/SleepIcon05.png" class="img-fluid" alt="Icon" />
                </div>
                <div class="col-md-9">
                    <p>
                        Open Cell Memo–Temp Layer<sup>TM</sup> relieves pressure points and improves blood circulation.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/Sleep/SleepIcon06.png" class="img-fluid" alt="Icon" />
                </div>
                <div class="col-md-9">
                    <p>
                        Patented "4-In-1"<sup>TM</sup> system allows you to adjust the firmness of your sleep system for maximum comfort.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div class="alert alert-success text-center" role="alert">
                <p>
                    Our state of the art “EMF Silver Shield” protects you from harmful EMF radiation from appliances, TV’s, cell phone chargers, computers and even the power lines in your walls. This optional grounding system neutralizes free radicals giving your body the rejuvenating rest it deserves.
                </p>
                <p>
                    With all of the unprecedented features and the life enhancing benefits our mattress provides, it’s no wonder this product is in such high demand. Carico offers the best warranty in the industry, including our Lifetime Hazard Warranty.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Ultra Tech Silver Collection 10 Layer Sleeping System is the most advanced sleeping system in the world!
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <h4>
                It starts with the Inner Core...
            </h4>
            <p>
                Carico's&reg; orthopedic sleep system adapts to the shape of your body to ensure your spinal column remains in proper position. The uniquely designed inner core is constructed out of 2 Layers of Elio-cell foam with 2 different densities which shape to the human body.
            </p>
        </div>
        <div class="col-md d-flex flex-wrap align-items-center">
            <img src="~/images/Sleep/Bed01.png" class="img-fluid" alt="The Inner Core..." />
        </div>
    </div>

    <div class="row">
        <div class="col-md d-flex flex-wrap align-items-center">
            <img src="~/images/Sleep/Bed02.png" class="img-fluid" alt="The Casing..." />
        </div>
        <div class="col-md">
            <h4>
                The Casing
            </h4>
            <p>
                <span class="Highlight">The Carbon Fabric</span> that surrounds the entire case, along with the Electromagnetic Silver Shield<sup>TM</sup>, protects you from any harmful electromagnetic fields.
            </p>
            <p>
                <span class="Highlight">The Open Cell Memo-Temp Layer<sup>TM</sup></span> releases pressure points on the body and enables improved blood circulation while also allowing fresh air to enter the mattress.
            </p>
            <p>
                <span class="Highlight">The latest non-toxic</span>, laboratory tested, durable fire retardant layer. You rely on Carico's flame retardant to provide safe protection for you and your loved ones without off gassing or subjecting you to dangerous chemicals.
            </p>
            <p>
                <span class="Highlight">The Clima 3D Air Chamber<sup>TM</sup></span>contains tens of thousands of fibres creating tiny air chambers which allows the mattress to regulate your body temperature, keeping it cooler in summer and warmer in winter.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                These athletes love their Carico Sleep System!
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/366246743?color=2a96fb" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="col-md">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/268675077?color=2a96fb" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <div class="alert alert-warning" role="alert">
                <div class="row">
                    <div class="col-md-3 d-flex flex-wrap align-items-center">
                        <div class="text-center w-100">
                            <img src="~/images/Sleep/Quote01.png" class="img-fluid" alt="The Inner Core..." />
                            <p>
                                <strong>Deborah C.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <blockquote class="blockquote d-flex">
                            <div class="container">
                                <p class="mb-0">
                                    <i class="fas fa-quote-left"></i> I bought the queen size mattress and pillow and I LOVE them! I’ve bought dozens of pillows in my lifetime because I could never find one I liked or that didn’t make my neck hurt. I will never buy another pillow!! Add up the cost of the other pillows I bought and it far exceeds the cost of the Carico pillow. The mattress is amazing. I love the grounding system. I sleep a lot better and more relaxed. The Italian craftsmanship is the highest quality I have ever seen. And who warrantees a mattress for 21 years?! CARICO DOES! <i class="fas fa-quote-right"></i>
                                </p>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                The Ultra Tech Silver Collection Pillows
            </h3>
            <p>
                Made with our exclusive <span class="Highlight">Thermofresh Memory Foam</span> which is a laser cut, patented material. Separate interlocking cores which enable you to change the height to your personal level. Deep, restful invigorating sleep is essential for good health and helps us be more productive.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/366567544?color=2a96fb" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="col-md">
            <p>
                Sleep is important because it’s when you regenerate from stress and exercise. Blocking EMF is key to a deep, restful night of sleep. It’s not always about the hours of sleep, although 7-8 is ideal, it’s more about the quality and amount of deep sleep.
            </p>
            <p>
                With Carico’s sleep system your body is able to regenerate faster! There are many studies on blocking wifi and other non-native forms of EMF while you sleep. Check out this video from Dr. Sandra Bontemps.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                A good night’s sleep is one of the most important things in your life.
            </h3>
            <p>
                Made with our exclusive <span class="Highlight">Thermofresh Memory Foam</span> which is a laser cut, patented material. Deep, restful invigorating sleep is essential for good health and helps us wake up rejuvenated and ready for the day!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Properly supports your head and neck</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Adjustable height</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Reduces pressure points</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Breathes, stays fresh and dry</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Thermo capsules help regulate body temperature</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Hypo-allergenic</li>
            </ul>
        </div>

        <div class="col-md d-flex flex-wrap align-items-center">
            <img src="~/images/Sleep/Sleep04.jpg" class="img-fluid" alt="Carico Mattress" />
        </div>

        <div class="col-md">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Maintains shape</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Patented laser cut channels for continuous air flow</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Embedded with silver ions & Woven with silver thread creates a 99.9% bacterial free environment</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Repels Dust - Wake up congestion free</li>
            </ul>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Separate Interlocking cores enable you to change the height to your personal level of performance!
            </h3>
            <p>
                The choice of a pillow can make a difference in the way your neck, back and shoulders feel while sleeping or awake. The pillow should support both head and neck and should touch the shoulder (while you’re) sleeping.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="~/images/Sleep/Pillow01.jpg" class="img-fluid" alt="Carico Pillow Height Adjustments" />
        </div>

        <div class="col-md">
            <img src="~/images/Sleep/Pillow02.png" class="img-fluid" alt="Carico Pillow Height Adjustments" />
        </div>

        <div class="col-md">
            <img src="~/images/Sleep/Pillow03.jpg" class="img-fluid" alt="Carico Pillow Height Adjustments" />
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                Ultra Tech Silver Collection Mattress Topper
            </h3>
            <h4>
                How to make your nights better...
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="~/images/Sleep/Sleep05.jpg" class="img-fluid" alt="Carico Mattress Topper" />
        </div>

        <div class="col-md">
            <p>
                <span class="Highlight">Ultra Tech Silver Collection Mattress Topper System</span> is removable bedding that sits on top of your mattress.
            </p>
            <p>
                Its goal is to supplement the comfort of your mattress or address your mattress’ limitations.
            </p>
            <p>
                A good topper can add support to a mattress that is too soft. It can also add luxurious softness while not taking away from the support of the mattress.
            </p>
            <p>
                <span class="Highlight">Carico's Silver</span> collection mattress topper gives you some of the benefits of the silver collection mattress.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>
                The layers that make our Mattress Topper the best!
            </h3>
            <p>
                The topper is removable for cleaning / Can be removed and used when traveling / Can be purchased separately Suitable for use with Carico’s Levitan Sleep System or any other high quality mattress
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <img src="~/images/Sleep/Topper01.jpg" class="img-fluid" alt="Carico Mattress Toppers" />
            <p>
                <strong>
                    Hypo-allergenic silver fabric
                </strong>
            </p>
            <p>
                99.9% bacterial free environment Supports air flow and temperature release
            </p>
        </div>

        <div class="col-md">
            <img src="~/images/Sleep/Topper02.jpg" class="img-fluid" alt="Carico Mattress Toppers" />
            <p>
                <strong>
                    Nontoxic laboratory tested
                </strong>
            </p>
            <p>
                Durable fire retardant layer Protection from off gassing and dangerous chemicals
            </p>
        </div>

        <div class="col-md">
            <img src="~/images/Sleep/Topper03.jpg" class="img-fluid" alt="Carico Mattress Toppers" />
            <p>
                <strong>
                    Exclusive Silver Thermofresh
                </strong>
            </p>
            <p>
                Memory Foam Reduces pressure points / 99.9% bacteria free environment
            </p>
        </div>

        <div class="col-md">
            <img src="~/images/Sleep/Topper04.jpg" class="img-fluid" alt="Carico Mattress Toppers" />
            <p>
                <strong>
                    Electromagnetic Silver Shield
                </strong>
            </p>
            <p>
                Provides the highest level of protection from unhealthy dangers Of electromagnetic waves, reducing stress, deep restful, invigorating sleep
            </p>
        </div>
    </div>
</div>