@page
@model PureProduct.Pages.WaterModel
@{
    ViewData["Title"] = "Clean Water";
}

<div class="container bg-white Spacer">
    <div class="row">
        <div class="col-md">
            <h3>Enjoy The Purest, Best Tasting Water With Carico</h3>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <p>
                Carico’s systems <span class="Highlight">remove impurities, toxic chemicals and more, while retaining healthy minerals</span>
            </p>
            <p>
                Carico’s Water Filtration Systems <span class="Highlight">offer a complete line of advanced filters, for protection against contaminants.</span>
            </p>
            <p>
                Carico has a solution for all your points of use, shower, bath, and kitchen with an exceptional warranty available.
            </p>
            <p>
                Carico’s complete line of innovative filters and purifiers deliver pure water wherever you need it.
                They fit everyone’s needs and budget, whether you own, rent or live in a large or small apartment or house.
                Our systems are the right solution for your <span class="Highlight">kitchen sink, refrigerator, bathroom or even your entire home</span>.
            </p>
        </div>
        <div class="col-md">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/259356271?color=2a96fb" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> USA Made</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Easy to maintain</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Constructed of long lasting food grade stainless steel</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Does not waste water during its purification</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Produces purified water on demand; no need for unsanitary storage tanks</li>
            </ul>
        </div>
        <div class="col-md">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Simple to install</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Do not take up valuable kitchen counter or under counter space</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Do not require electricity</li>
                <li class="list-group-item"><i class="fas fa-check-circle"></i> Effectively removes a long list of contaminants including but not limited to chlorine, round up and lead</li>
            </ul>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h3>Point of Use Water Purifier</h3>
            <p>
                Carico’s ULTRA TECH "Multi Stage Filtration Cartridge" utilizes a series of micro filtration devices and special absorbent compounds, strategically layered for complete purification.
            </p>
            <p>
                Carico’s point of use water system produces the purest water for drinking and cooking. The full spectrum cartridge.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white">
    <div class="row">
        <div class="col-md-5">
            <h4>
                Stage 1
            </h4>
            <p>
                Our unique submicron silver impregnated ceramic removes
                <ul>
                    <li>100% Cryptosporidium (Bacteria)</li>
                    <li>100% Giardia Lamblia Cysts (Bacteria)</li>
                    <li>99% E Coli (Bacteria)</li>
                    <li>99% Salmonella (Bacteria)</li>
                    <li>99.99% Pathogenic Bacteria</li>
                    <li>And it will STOP any particles that are 500 times smaller than a strand of human hair</li>
                </ul>
            </p>
        </div>
        <div class="col-md-2">
            <img src="~/images/WaterFilter/WaterFilter01.png" class="img-fluid" alt="Carico Water Filter" />
        </div>
        <div class="col-md-5">
            <h4>
                Stage 2
            </h4>
            <p>
                This custom blended inner core of activated carbon block and special advanced resins removes or reduces
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> 100% Bad taste</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> >99% THM's</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> >99% Pesticides</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> >99% Chlorine</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> >99% Chloramine</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> 100% Bad odors</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> >98% Heavy Metals</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> >99% Herbicides</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> 99% Chloroform</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> 96.2% Mercury</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> 98% Cadmium</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> 100% Bad color</li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> >99% Lead</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> >98% VOC's</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> >92% Fluoride</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> Arsenic</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> Sulfides</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> >99% Glyphosate (e.g. Roundup)</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> >92% Nitrates</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> MTBE & BTEX</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> (petroleum and crude oil byproducts)</li>
                            <li class="list-group-item py-0"><i class="fas fa-check-circle"></i> And many more!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md-5 WaterStage3">
            <h4>
                Stage 3
            </h4>
            <p>
                A special compressed coconut carbon designed to remove any possible remaining contaminants and extend the life of the unit
            </p>
        </div>
    </div>
</div>

<div class="container bg-white Spacer">
    <div class="row">
        <div class="col-md">
            <h3>Whole House Water System​</h3>
            <p>
                Carico's system will turn tap water into “crystal clear” healthier, fresher water you can trust for all your household needs.
                <ul>
                    <li>Skin feels softer / Hair becomes silkier</li>
                    <li>Reduces spotting</li>
                    <li>Prevents scale giving your water a softer feel</li>
                    <li>Reduces build up in pipes and appliances so items like water heaters run more efficiently, <span class="Highlight">saving you money</span></li>
                    <li>Effectively removes/reduces chlorine, sediment, VOC’s, and herbicides, pesticides, hydrogen sulfide and heavy metals, such as cadmium, mercury and arsenic</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div class="container bg-white Spacer">
    <div class="row">
        <div class="col-md">
            <h3>Whole House Water System​</h3>
            <p>
                Carico's system will turn tap water into “crystal clear” healthier, fresher water you can trust for all your household needs.
                <ul>
                    <li>Skin feels softer / Hair becomes silkier</li>
                    <li>Reduces spotting</li>
                    <li>Prevents scale giving your water a softer feel</li>
                    <li>Reduces build up in pipes and appliances so items like water heaters run more efficiently, <span class="Highlight">saving you money</span></li>
                    <li>Effectively removes/reduces chlorine, sediment, VOC’s, and herbicides, pesticides, hydrogen sulfide and heavy metals, such as cadmium, mercury and arsenic</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/WaterFilter/WaterFilter02.png" class="img-fluid" alt="Whole House Water System" />
        </div>
        <div class="col-md-9">
            <h4>
                Stages 1 &amp; 2
            </h4>
            <p>
                Carico’s Proprietary Blend of Carbon effectively removes or reduces chlorine, sediment, volatile organic compounds, herbicides, heavy metals, THM’s plus bad taste and odors.
            </p>

            <h4>
                Stage 3
            </h4>
            <p>
                Carico DS Composite<sup>TM</sup> prevents scale giving the water a softer feel.
            </p>

            <h4>
                Stage 4
            </h4>
            <p>
                NSF Certified KDF 55 filtration media controls bacteria, algae and fungi even in hot water. Reduces chlorine, pesticides, organic matter, hydrogen sulfide and heavy metals such as lead, cadmium, mercury and arsenic.
            </p>

            <h4>
                Stage 5
            </h4>
            <p>
                High Density Garnet Bed is designed to remove any remaining carbon fines and sediment.
            </p>

            <h4>
                Stage 6
            </h4>
            <p>
                Breakthrough Magnetic field technology reverses the hard water condition and replicates soft water behavior without the use of salt or electricity. It maintains a balanced pH level, while leaving in the vital minerals that are necessary for good health.
                <ul>
                    <li>Spotting is reduced</li>
                    <li>Hair becomes silkier</li>
                    <li>Skin feels softer</li>
                    <li>Reduces scaling on pipes & appliances</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/WaterFilter/WaterFilter03.png" class="img-fluid" alt="Whole House Water System" />
        </div>
        <div class="col-md-8">
            <h3>
                Carico’s Soft ‘N Clean Stainless Steel Shower
            </h3>
            <p>
                The only shower filter that effectively filters and provides a softening effect to your water. Carico’s shower filter uses 5 different technologies; effectively reducing chlorine, heavy metals and bacteria.
            </p>

            <p>
                Enjoy the benefits:
                <ul>
                    <li>Healthier, younger-looking hair and skin</li>
                    <li>Relief from dry skin and scalp irritations</li>
                    <li>Reduced exposure to harmful contaminants</li>
                    <li>Use less soap, conditioner & shampoo</li>
                    <li>Less fading of color-treated hair</li>
                    <li>Reduced scale and scum on tubs, glass & showers</li>
                    <li>Adjustable massaging Miracle Flow™ showerhead</li>
                </ul>
            </p>

            <p>
                KDF reduces or removes chlorine, iron, hydrogen sulfide, heavy metals, and bacteria from their water.
            </p>

            <h4>
                Stage 5
            </h4>
            <p>
                High Density Garnet Bed is designed to remove any remaining carbon fines and sediment.
            </p>

            <p>
                Carico DS Composite<sup>TM</sup> prevents scale giving the water a softer feel.
            </p>

            <p>
                Carico’s unique carbon foam blocks reduce chlorine, gases and chloramines.
            </p>

            <p>
                Incorporates breakthrough magnetic field technology that reverses the hard water condition and replicates soft water behavior.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white SpacerBottom">
    <div class="row">
        <div class="col-md">
            <h4>
                Carico’s Soft N’ Clean Shower Filter
            </h4>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/312814375?color=2a96fb" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="col-md">
            <h4>
                Trusted in Schools
            </h4>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/268675024?color=2a96fb" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
</div>